{% extends "base.html" %}

{% block content %}
<div class="prose dark:prose-invert lg:prose-lg mx-auto">
    <h2>Who am I?</h2>
    <p>Hi I'm David Vivar Bogónez, most known at my socials as ✰λster✰. I'm just a Spanish 17 year old who loves to code
        on his free time.</p>
    <h3>My tech</h3>
    <p>I'm someone who always loves to try new technologies but I'm most comfortable with the following:</p>
    <ul>
        <li><a href="https://rust-lang.org/">Rust</a>, <a href="https://python.org/">Python</a>, <a
                href="https://golang.org/">Go</a>, and <a href="https://typescriptlang.org/">TypeScript</a></li>
        <li><a href="https://tailwindcss.com/">Tailwind CSS</a></li>
        <li><a href="https://htmx.org/">HTMX</a> and <a href="https://alpinejs.dev/">Alpine JS</a></li>
    </ul>
    <p>I'm also a big fan and currently exploring the following:</p>
    <ul>
        <li><a href="https://ocaml.org/">OCaml</a></li>
        <li><a href="https://racket-lang.org/">Racket</a></li>
        <li><a href="https://www.haskell.org/">Haskell</a></li>
        <li><a href="https://nixos.org/">Nix and NixOS</a></li>
        <li><a href="https://webassembly.org/">WASM</a></li>
    </ul>
    <h3>About myself</h3>
    <p>I have some hobbies outside of programming too! I like to read books, watch movies, play video games and listen
        to music. I generally listen to artists like Bruno Mars and Dua Lipa but I like other genres like Brazilian
        Phonk too. My favourite saga of books and movies are Dune by Frank Herbert and my favourite video game is Super
        Smash Bros Ultimate. I also like to travel and explore new places :) .</p>
    <h3>This blog</h3>
    <p>This blog is a place where I write about my experiences and thoughts about programming, technology and life in
        general. I hope you enjoy it :) .</p>
    <p>It is also quite special on the way it's built because it shows my taste for the tech stacks I use which in this
        case is:</p>
    <ul>
        <li><a href="https://www.rust-lang.org/">Rust</a> with the <a href="https://github.com/tokio-rs/axum">Axum</a>
            framework and the <a href="https://maud.lambda.xyz/">Maud</a> crate for templating</li>
        <li><a href="https://tailwindcss.com/">Tailwind CSS</a> for styling</li>
        <li><a href="https://alpinejs.dev/">Alpine JS</a> for UI interactions</li>
    </ul>
</div>
{% endblock %}