{% extends "base.html" %}

{% block content %}
<div class="prose dark:prose-invert lg:prose-lg mx-auto">
    <p>If you have any questions or feedback, please don't hesitate to get in touch!</p>
    <p>You can reach me on any of the following platforms:</p>
    <ul>
        <li><a href="https://twitter.com/4ster_light">Twitter / X</a></li>
        <li><a href="https://github.com/4ster-light">GitHub</a></li>
        <li><a href="https://bsky.app/profile/4ster-light.bsky.social">BlueSky</a></li>
        <li><a href="mailto:davidvivarbogonez@gmail.com">Email</a></li>
    </ul>
    <p>I may take some time to answer mails, but my DMs are always open in all of my socials.</p>
</div>
{% endblock %}